VITE_STRIPE_INDIVIDUAL_SESSION_LINK=https://buy.stripe.com/5kQcMY6zR51UeNH1lj3cc06
VITE_STRIPE_SIX_SESSION_PACKAGE_LINK=
VITE_STRIPE_TWELVE_SESSION_PACKAGE_LINK=
VITE_STRIPE_CUSTOM_AMOUNT_LINK=https://buy.stripe.com/5kQ00c4rJgKC9tnbZX3cc03
