VITE_STRIPE_INDIVIDUAL_SESSION_LINK=https://buy.stripe.com/28E4gs4rJ8e6gVP9RP3cc00
VITE_STRIPE_FOUR_SESSION_PACKAGE_LINK=https://buy.stripe.com/aFa00cgar9iafRL8NL3cc01
VITE_STRIPE_SIX_SESSION_PACKAGE_LINK=https://buy.stripe.com/bJeeV67DV0LE34Z7JH3cc02
VITE_STRIPE_CUSTOM_AMOUNT_LINK=https://buy.stripe.com/5kQ00c4rJgKC9tnbZX3cc03
